/////////////////////////////////
//LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

/////////////////////////////////
//SEARCH
.search {
   /*  background-color: orangered; */
    flex: 0 0 40%; //dont want it to stretch or shrink 0 0
    

    display: flex;
    align-items: center;//centers elements along the cross axis this is usually the y axis
    justify-content: center;//centers elements along the main axis

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;//original width
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;//width grows on focus
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }

    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        background-color: var(--color-grey-light-2);
        border: none;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);//fills the svg icon with color
    }
}



/////////////////////////////////
//USER NAVIGATION

.user-nav {
    align-self: stretch; //targets individual items, this property will stretch the element to fill the space

    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }//user nav and direct children selcted


    & > *:hover {
        background-color: var(--color-grey-light-2);
    }


    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    
}



/////////////////////////////////////////////
//SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__items {
      position: relative;


       &:not(:last-child) {
          margin-bottom: .5rem;
      } //add a margin on all the items accept the last one
    }

    &__items::before {
        content: "";//needed to show in the browser
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s, 
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;//second value for the width is the delay (.2s)
                    //cubic-bezier is a timing function
    }


   /*  cubic bezier.com shows you the speed of the transition */
    &__items:hover::before,
    &__items--active::before {
        transform: scaleY(1);//starts in the center then grows in the y direction
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem; //top/bottom left/right
        position: relative;//z-index only works with a specified position
        z-index: 10;//places text over the animation needs any number that is higher than 0


        display: flex;
        align-items: center;

    }


    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;//color of parent element

    }


}




////////////////////////////////////////////////
//LEGAL

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}


////////////////////////////////////////////////
//GALLERY

.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}




////////////////////////////////////////////////
//HOTEL OVERVIEW

.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

    }

    &__stars {
        margin-right: auto;//enables elements to work like flex to occupy the available space
       /*  flex: 1; *///flex item should grow and occupy all the space
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);

    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
      
    }
    &__icon-location{
        margin-right: .5rem;

    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }

}

////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}




////////////////////////////////////////////////
//PARAGRAPH

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}
//last of type is better in this situation as it only applies to the paragraph element
////////////////////////////////////////////////
//LIST

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;//puts item next to eachother
    flex-wrap: wrap;//this allows the content to align and wrap to new lines

    &__item {
        flex: 0 0 50%;//no grow no shrink, 50% width will put items side by side
        margin-bottom: .7rem;
    }

    &__item:before {
        content: "";//you must have an empty content property for the icon to show
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;


        //older browsers
      /*background-image: url(../img/chevron-thin-right.svg);
        background-size: cover; */


        //newer browsers - masks defines an area where we can look through the element and see what's behind the element.  Set background color to solid then look through the mask to see the color

        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;

    }//better use before to put the list icon/bullet point
}

////////////////////////////////////////////////
//RECOMMEND

.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;//puts text and images side by side
    align-items: center;

    &__count {
        margin-right: auto;
    }


    &__photo {
        box-sizing: content-box;//keeps images the same size
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;


        &:not(:last-child) {
            margin-right: -1.15rem;
        }
    }

}

////////////////////////////////////////
// REVIEWS

.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;//parent position
    overflow: hidden;//fixes overflow of the quotation marks
    
        &__text {
            margin-bottom: 2rem;
            z-index: 10;
            position: relative;//a position must be set for z-index to work
        }
    
        &__user {
            display: flex;
            align-items: center;
        }
    
        &__photo {
            height: 4.5rem;
            width: 4.5rem;
            border-radius: 50%;//makes images round
            margin-right: 1.5rem;
        }
    
        &__user-box {
            margin-right: auto;//pushes text to right side
        }
    
        &__user-name {
            font-size: 1.1rem;
            font-weight: 600;//makes it bold
            text-transform: uppercase;
            margin-bottom: .4rem;
        }
    
        &__user-date {
            font-size: 1rem;
            color: var(--color-grey-dark-3);
        }
    
        &__rating {
            color: var(--color-primary);
            font-size: 2.2rem;
            font-weight: 300;
        }
    
        //question mark for qoute
        &::before {
            content: "\201C";// /201C is the code from HTML Entities for a qoutation mark
            position: absolute;//child position
            top: -2.75rem;
            left: -1rem;
            line-height: 1;
            font-size: 20rem;
            color: var(--color-grey-light-2);
            font-family: sans-serif;//this changes the shape of the qoutaions marks as they originlly inherit a serif font
            z-index: 1;//ensures the element stays with in the container
        }
    }

