.container {
    max-width: 120rem;
    margin: 8rem auto;//this centers the container inside its parent element which is the body in this case
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;//this gets rid of the red around the content
        width: 100%;//this is just in case max-width doesn't work
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;//creates even space between the three elements in the nav
    align-items: center;//centers the elements
    

    

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 12rem;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;//1st value is grow, 2nd is shrink, flex basis is third.  In this case no grow of shrink just fit at 18%

    display: flex;
    flex-direction: column;//changes direction to top to bottom
    justify-content: space-between;//this pushes the legal space to the bottom as there are only 2 elements so one is pushed to the top and the other is pushed to the bottom.
}

.hotel-view {
    background-color: #fff;

    flex: 1;// if you do flex 1 it grows to all the availble space it has
}


.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    
//larger sceen media query goes first just incase conflicting 
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
      }

      
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
      }
}


.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; /* 0 grow and 0 shrink */
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
      }

    @media only screen and (max-width: $bp-small) {
       margin-right: 0;
       margin-bottom: 3rem;
    }
}



.user-reviews {
    flex: 1;//covers remaining space

    display: flex;
    flex-direction: column;
    align-items: center;
}